<div>
<h2>Best Damn Lambda Explaination</h2>
<p>Simply put, lambda functions are anonymous functions. They can be used anywhere a function can be used. They can be assigned to variables.</p>

<p>When we create a lambda function without assignment or execution we are just creating a place in memory for that funciton.</p>

<div hljs hljs-lang="python">
    >>> lambda x: x+1
    <function <lambda> at 0x104191c80>
</div>

<p>A lambda function in the raw can be read "lambda inputParameter: expression to evaulate on inputparameter". When assigned to a variable that variable is then treated like reference to a function and can be utilized the same way as a function.</p>

<pre><code><hljs>
>>> f = lambda x: x+1
>>> f(1)
2
</hljs></code></pre>

<p>If you are looking to evaluate inline, without assignment, then the declaration of the lamba function and the input value are wrapped in parenthesis side-by-side.</p>

<pre><code><hljs>
>>> (lambda x: x+1)(1)
2
</hljs></code></pre>

</div>