<div>
	<!-- Current Date: {{currentDate | date : 'fullDate'}} <br/> -->
	Current Date: {{currentDate}} <br/>
	Next Week: {{nextWeekDate}}
	Time Remaining: {{remainingTime}}
	<!-- <div class="countdown" ng-class="(simple === true) ? 'simple' : 'panels'">
		<div class="inner" ng-transclude></div>
		<div class="timer">
				<span class="days"></span>
				<div class="smalltext">Days</div>
				<span class="hours"></span>
				<div class="smalltext">Hours</div>
				<span class="minutes"></span>
				<div class="smalltext">Minutes</div>
				<span class="seconds"></span>
				<div class="smalltext">Seconds</div>
		</div>
	</div> -->
</div>