<div>
	<h2>Easy Code Blocks For AngularJS</h2>
	<p>
		When I'm reading through a "How-To" site or github repo my eyes are typically scanning for code blocks. We all know that the code blocks are were the honey is hiding and the surrounding text is more of support material for when a copy and paste job doesn't do the trick. Having great looking code blocks like a finely tuned text editor is super easy to get going on your own site. I'm currently using <a href="https://github.com/pc035860/angular-highlightjs">angular-highlightjs</a> to produce code simiply beautiful code blocks within AngularJS.
	</p>
<hljs>
	public function hello($name) {
		echo ("Hello, $name");
	}
</hljs>
	<p>
		To get started with this one I recommend just dropping in the highlightjs and angular-highlightjs script tags in your index and add hljs to your list of module dependencies.
	</p>
<hljs>
	<!-- place at the bottom of your app index.html -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
	<script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
</hljs>	
<hljs>
	// Add hljs to your app dependencies
	angular.module('myApp', ['hljs']);
</hljs>	
	<p>
		Create a new view to test whether the we loaded hljs correctly.
	<p>
<hljs>
	Testing my code block:
	<hljs>
		public function test() {
			echo "It Works!";
			echo "Soo pretty";
		}
	</hljs>
</hljs>
<p>
	If the modules loaded correctly you will see a code block loaded on the page, but it is likely not very pretty. Personally, I npm installed highlightjs and converted the css styles located in /node_modules/highlight.js/styles to sass. This isn't necessary becuase can just navigate to the <a href="https://github.com/isagalaev/highlight.js/tree/master/src/styles">highlightjs style repo</a> to grep for the style you like.
</p>	
</div>
<hr/>