<p>
I’m a hacktivist, software engineer, rock climber, and drone pilot living in the bay area. Currently, I’m working on a web app for a small YC company called Pakible. 
</p>
<br/>
<p>
I studied Computer Engineering at Penn State University and Economics at the University of San Francisco. My skills as a software engineer are predominately self taught through free online services like MIT Open Courseware and local hacker communities in the Bay Area. My methodologies are largely developed from my experiences working as a software engineer and learning from my thoughtful peers. I am a test driven developer that enjoys writing beautiful code.
</p>