<div class="port-main-view-home">
	<div class="port-main-content--columns-wide">
		<div class="port-main-left-column">
			<div class="port-main-view-home-main-header">
				<h2>Joseph Watters</h2>
				<h1>Software Engineer</h1>
			</div>
		</div>
		<div class="port-main-right-column">
			<div class="icon-column">
				<a ui-sref="about"><svg class="icon icon-gist-secret"><use xlink:href="#icon-gist-secret"></use></svg></a>
				About
			</div>
			<div class="icon-column">
				<a ui-sref="demos"><svg class="icon icon-file-code"><use xlink:href="#icon-file-code"></use></svg></a>
				Demos
			</div>
			<div class="icon-column">
				<a ui-sref="projects"><svg class="icon icon-circuit-board"><use xlink:href="#icon-circuit-board"></use></svg></a>
				Portfolio
			</div>
			<div class="icon-column">
				<a ui-sref="github"><svg class="icon icon-file-github"><use xlink:href="#icon-github"></use></svg></a>
				Github
			</div>
		</div>
	</div>
</div>