<div class="port-main-view-home">
	<div class="port-main-content--columns-wide">
		<div class="port-main-left-column">
			<div class="port-main-view-home-main-header">
				<img class="main-image" src="images/zen-tree.jpg">
				<h2>Joseph Watters</h2>
				<h1>Software Engineer</h1>
			</div>
		</div>
		<div class="port-main-right-column">
			<div class="icon-column">
				<a ui-sref="about">
					&#9679;
					<div class="icon-label">About</div>
				</a>
				
			</div>
			<div class="icon-column">
				<a ui-sref="demos">
					&#9679; &#9679;
					<div class="icon-label">Demos</div>
				</a>
			</div>
			<div class="icon-column">
				<a ui-sref="projects">
					&#9679; &#9679; &#9679;
					<div class="icon-label">Portfolio</div>
				</a>
			</div>
			<div class="icon-column">
				<a href="https://www.github.com/imjohsep">
					&#9679; &#9679; &#9679; &#9679;
					<div class="icon-label">
					Github</a>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>